<div layout="row" layout-wrap>
    <md-card>
            <md-card-content>
                <h2 class="md-subhead">Kartentyp</h2>
                <p>Wählen Sie welche Kartentypen angezeigt werden.</p>
                <md-checkbox class="md-primary" id="cb-typ-einladungskarte" aria-label="Einladungskarten anzeigen">Einladung
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-typ-save-the-date" aria-label="save-the-date Karten anzeigen">save-the-date
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-typ-dankeskarte" aria-label="Dankeskarten Karten anzeigen">Danke
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-typ-menue" aria-label="Menükarten anzeigen">Menü
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-typ-kirchenhefte" naria-label="Kirchenhefte anzeigen">Kirchenhefte
                </md-checkbox>                     
            </md-card-content>
        </md-card>
          <md-card>
            <md-card-content>
                <h2 class="md-subhead">Design</h2>
                <p>Wählen Sie welche Designs angezeigt werden.</p>
                <md-checkbox class="md-primary" id="cb-design-vintage" aria-label="Karten im Vintage Design anzeigen">Vintage
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-design-modern" aria-label="Karten in modernem Design anzeigen">Modern
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-design-klassisch" aria-label="Karten in klassischem Design anzeigen">Klassisch
                </md-checkbox>
                <md-checkbox class="md-primary" id="cb-design-verspielte" aria-label="Karten in verspieltem Design anzeigen">Verspielt
                </md-checkbox>                
            </md-card-content>
        </md-card>
    <md-card>
        <img src="../assets/img/300/150048.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150049.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150050.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150051.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150052.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150053.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    <md-card>
        <img src="../assets/img/300/150054.jpg" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
</div>
<footer>
    <div layout="row" layout-wrap>
        <div flex itemscope="" itemtype="http://schema.org/LocalBusiness">
            <div itemprop="name">
                <h3 class="md-subhead">Druckerei Rößle</h3>
            </div>
            <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <p>
                    <span itemprop="streetAddress">Max-Eyth-Str. 28</span>
                    <br>
                    <span itemprop="postalCode">70736</span>
                    <span itemprop="addressLocality">Fellbach</span>
                    <br>Tel: <span itemprop="telephone">+49 (0) 7 11 - 5 71 93 33</span>
                    <br>Mail: <span itemprop="email">
                    <a href="mailto:info@druckereiroessle.de">info@druckereiroessle.de</a>
                  </span>
                </p>
                <br>
            </div>
        </div>
    <div flex>
        <h3 class="md-subhead">Rechtliches</h3>
        <md-button md-ink-ripple ui-sref="impressum" class="md-primary md-hue-1 md-raised">Impressum</md-button>
        <md-button md-ink-ripple ui-sref="datenschutz" class="md-primary md-hue-1 md-raised">Datenschutz</md-button>
    </div>
    <div flex><p>© Copyright 2016 Druckerei Rößle</p></div>
</div>
</footer>
