<!doctype html>
<html ng-app="hoc" ng-controller="AppCtrl">
  <head>
    <base href="/">
    <meta charset="utf-8">
	<title ng-bind="'< ' + (PageTitle.title() || '') + ' >'"></title>
	<meta name="description" content="{{ MetaInformation.metaDescription() }}">
    <meta name="keywords" content="{{ MetaInformation.metaKeywords() }}">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
  
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
	
    <link rel="stylesheet" href="index.css"/>
    <!-- endbuild -->
</head>


<body>
<!-- ###
	<md-sidenav class="bsf-unique md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar hide-sm hide-md class="md-tall md-primary md-100" md-theme="bsfnova">
			<span flex></span>
			<div layout="column" class="md-toolbar-tools-bottom inset">
			  <span><img src="../assets/icons/hochzeitskarten-one-logo.svg" class="logo" /></span>
			</div>
		  </md-toolbar>
		  <md-divider></md-divider>
		<md-content role="navigation" class="bsf-unique">
		  <ul class="side-menu">
			<li ng-repeat="section in menu.sections" class="parent-list-item" ng-class="isActive('{{section.state}}')">          
			  <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
			</li>
		  </ul>
		</md-content>
	</md-sidenav>

	<md-content flex >

	<md-toolbar>
	  <div class="md-toolbar-tools">
		<md-button aria-label="Go Back">
		  Go Back
		</md-button>
		<h2>
		  <span>Toolbar with Standard Buttons</span>
		</h2>
		<span flex=""></span>
		<md-button class="md-raised" aria-label="Learn More">
		  Learn More
		</md-button>
		<md-button class="md-fab md-mini" aria-label="Favorite">
		  <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
		</md-button>
	  </div>
	</md-toolbar>
	
	<ui-view name="main" layout="column" layout-fill autoscroll="true">
    
	</ui-view>
-->	


<div id="layout-vertical-navigation" class="md-medium-tall" layout-fill layout="row" flex>

    <md-sidenav id="vertical-navigation" class="md-sidenav-left md-whiteframe-z1 md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="navigation" ms-scroll ui-view="navigation">
		<span class="logo-image"><img src="../assets/icons/hochzeitskarten-one-logo.svg" class="logo" /></span>

	 <md-content role="navigation" class="bsf-unique">
      <ul class="side-menu">
        <li ng-repeat="section in menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'"
              id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>

    </md-content>
	
	</md-sidenav>

    <div id="content-container" flex layout="column">
        <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar">
		
		</md-toolbar>

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll ui-view="main" flex>
		
		</md-content>
    </div>

</div>
	
  </body>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
</html>

